*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/back-end/vendor
/front-end/node_modules
/front-end/dist
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/back-end/public/build
/back-end/public/fonts-manifest.dev.json
/back-end/public/hot
/back-end/public/storage
/storage/*.key
/back-end/storage/*.key
/storage/pail
/back-end/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
